<% content_for :title, "Editing user" %>

<div class="edit-user-container">
  <div class="edit-user-header">
    <h1>Edit Your Profile</h1>
  </div>

  <%= render "form", user: @user %>

  <div class="edit-user-actions">
    <%= link_to "Show this user", @user %>
    <%= link_to "Back to users", users_path %>
  </div>
</div>